@media all and (min-width: 1024px) {

  /* Utile */
  .grid.cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid.cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* Nav */
  .nav--main {
    display: block;
  }
  .nav-toggle {
    display: none;
  }

  /* Despre mine */
  .shaped {
    display: block;
    background: #00bcd44a;
    padding: 3rem;
    aspect-ratio: 1;
    border-radius: 40% 70% 70% 40%/40% 0 60% 80%;
  }

  /* Experienta */
  .exp-row {
    gap: 100px;
    border-radius: 3rem;
    overflow: hidden;
    margin-bottom: 0;
  }

  .exp-row::before {
    content: '';
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--color-primary);
    transform: translateX(50%);
    left: 50%;
  }

  .exp-row::after {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .exp-row:nth-child(2n) .exp-info {
    order: 1;
    text-align: left;
  }

  .exp-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-left: 0;
  }

  .exp-info h3 {
    margin-bottom: 1rem;
  }

  .exp-info p {
    margin-bottom: 0;
  }

  /* Contact */
  .form--contact textarea {
    grid-column: span 2;
  }

}