@media all and (min-width: 768px) {
  /* Tipografie */
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4, p {
    font-size: 1.2rem;
  }

  /* Utile */
  .grid.cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* Experienta */
  .exp-row {
    left: .5rem;
    top: 3rem;
  }

  .exp-info {
    padding-left: 5rem;
  }
}